* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'sans serif';
     
}

body {
    background-color: #393E46;
}

 .alert {
    padding: 10px;
    background-color: #363535; 
    color: white;
    margin-bottom: 15px;
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  } 

/* TOP */
.top-container {   
    background-image: url("../images/banner.jpg");
    background-position: center;
    text-align: center;
    font-weight: 900px;
    font-family: 'Roboto', 'Staatliches';
    letter-spacing: 3px;
    color: #FFD369;
    text-shadow: 5px 5px #020202;
}

.top-container-item {
    padding: 90px 100px 90px 100px;
}

h1 {
    font-size: 70px;
}

h3 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
}

.social{
    position: relative; 
    margin: 30px 60px 0px 0px;
    width: 35px;
    padding: 0px 0px 0px 50px;
}
/* END OF TOP */


/* ABOUT */
#profile {
    width:  400px;
    border-radius: 100%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.314);
}

.intro {
    font-size: 30px;
    font-family: 'Roboto', 'sans serif';
}

.about-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 150px 50px 150px;
    margin: auto 0px;
    background-color: #222831; 
    gap: 40px;
    text-align: justify;
}
 

.about-card {
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.314);
    background-color: #eeeeeed3;
    padding: 20px 30px 20px 30px;
    margin: 0px 0px 50px 0px
}

.text{
    font-size: 20px;
}
/* END OF ABOUT */


/* SKILLS AND EXPERIENCE  */
.intro {
    font-size: 30px;
    font-family: 'Roboto', 'sans serif';
}

.skills-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 150px 50px 150px;
    background-color: #4d535e;
    gap: -20px;
    text-align: justify;
}

.skills-card {
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.314);
    background-color: #eeeeeed3;
    padding: 20px 30px 20px 20px;
    margin: -90px 0px 0px 0px
}

.skill-icon {
    width:  60px;
    margin: 40px 60px 40px 30px;
}

#side-img {
    width:  380px;

}
/* END OF SKILLS AND EXPERIENCE */


/* PROJECTS */
.title {
    color: #FFD369;
    margin-bottom: 10px;
    font-size: 60px;
    text-shadow: 5px 5px #020202;
}
.intro {
    font-size: 30px;
    font-family: 'Roboto', 'sans serif';
}

.projects-container {
    margin-left: auto 0px;
    margin-left: auto 0px;
    padding: 50px 150px 50px 150px;
    background-color: #222831;
    gap: 1110px;
    text-align: justify;
}

.projects-card {
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.314);
    background-color: #eeeeeed3;
    padding: 30px 30px 30px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

.project-title{
    font-family: 'Roboto', 'Calibri';
    text-align: center;
    font-size: 35px;
}

.projects-grid-item {
    padding: 20px 100px 0px 215px;
 
}


.projects-img {
    border: 5px solid black;
    border-radius: 5px;
    width: 550px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.314);
}

.projects-img-solo-bot {
    margin-left: 230px;
    border: 5px solid black;
    border-radius: 5px;
    width: 470px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.314);
}

.projects-img-solo {
    margin-left: 100px;
    border: 5px solid black;
    border-radius: 5px;
    width: 700px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.314);
}

.projects-img-web {
    margin-left: 50px;
    margin-bottom: 20px;
    border: 5px solid black;
    border-radius: 5px;
    width: 470px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.314);
}

.projects-img-mobile {
    margin: auto;
    border: 5px solid black;
    margin-left: 50px;
    border-radius: 20px;
    width: 138px;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.314);
} 
.project-btn {
 
    margin-top: 2%;
    margin-left: 40%;
}
.links {
    border: 2px solid #000000;
    border-radius: 3px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    background-color: #393E46;
    color: #ffffff;
    cursor: pointer;
    transition: 0.15s;
}

.links:hover {
    background-color: #555b64;
}


#side-img {
    width:  380px;
}
/* END OF PROJECTS */
 
/* FOOTER */
.footer {   
    text-align: center;
 
 
    color: #EAF6F6;
    font-size: 14px;
    text-align: center;
}

.footer-item {
    padding: 12px 0px 12px 0px;
}

/* END OF FOOTER */