/* OTHERS */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', 'sans serif';
    
     
}

body {
    background-color: #FFF7D4;
}
/* END OF OTHERS */

 

/* TOP */
.top-container {   
    background-image: url("../images/banner.jpg");
    background-position: center;
    text-align: center;
    font-weight: 900px;
    font-family: 'Roboto', 'Staatliches';
    letter-spacing: 3px;
    color: #FFD369;
    text-shadow: 5px 5px #020202;
}

.top-container-item {
    padding: 90px 100px 90px 100px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 35px;
    font-style: italic;
}

h3 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 800;
    
}

.social{
    position: relative; 
    margin: 30px 50px 0px 0px;
    width: 35px;
    padding: 0px 0px 0px 50px;
}
/* END OF TOP */


/* ABOUT */
#profile {
    display: block;
    width:  280px;
    border-radius: 100%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.314);
}

.intro {
    font-size: 30px;
    font-family: 'Roboto', 'sans serif';
    /* font-weight: 800; */
}

.about-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 150px 50px 150px;
    margin: auto 0px;
    background-color: #393E46; 
    gap: 40px;

    text-align: justify;
}
 

.about-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.314);
    background-color: #EEEEEE;
    padding: 20px 30px 20px 30px;
    margin: 0px 0px 50px 0px

}

.text{
    font-size: 25px;

}
/* END OF ABOUT */


/* SKILLS AND EXPERIENCE  */
#profile {
    width:  280px;
    border-radius: 100%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.314);
}

.intro {
    font-size: 30px;
    font-family: 'Roboto', 'sans serif';
    /* font-weight: 800; */
}

.skills-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px 150px 50px 150px;
    margin: auto 0px;
    background-color: #4d535e;
    gap: -20px;
    text-align: justify;
}
 

.skills-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.314);
    background-color: #EEEEEE;
    padding: 20px 30px 20px 20px;
    margin: 0px 0px 0px 0px

}

.skill-icon {
    width:  100px;
    /* border-radius: 100%; */
    margin: 0px 0px 30px 100px;
    /* box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.314); */
}

#side-img {
    width:  380px;
    /* border-radius: 100%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.314); */
}

/* END OF SKILLS AND EXPERIENCE */


/* FOOTER */